body {
    font-family: 'Noto Sans TC', sans-serif;
}

.main_coontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
}

.container {
    border: #00bfff solid 2px;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
}

#client{
    order: 1;
}

#opponent{
    order: 3;
}

.element {
    width: 40px;
    height: 40px;
    border: #00bfff solid 1.5px;
    border-radius: 10%;
    transition: 0.25s;
}

.ship_element {
    width: 40px;
    height: 40px;
    border: #00bfff solid 1.5px;
    border-radius: 10%;
    transition: 0.25s;
}

.ship_element:hover {
    background: #b3ecff;
}

.element:hover {
    background: #b3ecff;
}

.line {
    display: flex;
}

.back_blue {
    background: #b3ecff;
}

.back_red {
    background: #ffb3b3;
}

#form_info_container {
    width: 200px;
    height: 330px;
    margin-top: 0;
    order: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_info{
    align-items: center;
}

.id_input {
    width: 193px;
    height: 25px;
    border: solid black 1.5px;
    font-size: 18px;
    margin: 5px 0px;
    font-family: 'Noto Sans TC', sans-serif;
}

#form_submit {
    width: 100px;
    /* height: 500px; */
    background: #1aa3ff;
    color: white;
    border: solid black 0px;
    font-size: 16px;
    /* margin-top: 2%;
    margin-bottom: 2%; */
}

#form_submit:hover {
    background: #349ce2;
}

.form_info_label{
    text-align: left;
    width: 200px;
}

#form_submit, #change_dir_btn, #randomBtn {
    width: 120px;
    /* width: 100px; */
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;
    background: #1aa3ff;
    color: white;
    border: solid black 0px;
    font-size: 20px;
    padding: 3px;
}

#form_submit:hover, #change_dir_btn:hover, #randomBtn:hover {
    background: #349ce2;
}

#randomBtn {
    /* height: 50px; */
    /* margin-top: 2%;
    margin-bottom: 2%; */
}

.back_miss{
    background-color: #d9dadc;
}

