.container {
    /* doesn't work */
    /* position: relative;
    left: 7%;
    top: 7%; */
    margin: auto;
    /* position: absolute; */
    top: 0; left: 0; bottom: 0; right: 0;
    width: auto;
    height: auto;
    border: #333 solid 2px;
    display: inline-block;
}

.element {
    width: 40px;
    height: 40px;
    border: #333 solid 1px;
    float: left;
}


.line {
   clear: both;
   overflow: hidden;
}